
.icon-attention-circled:before { content: '\e800'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-hand-peace-o:before { content: '\f25b'; } /* '' */